---
layout: home
---

<div class="homepage">
  <section class="header">
    <h1>{{ site.title }}</h1>
    <hr />
    <p>{{ site.description }}</p>
  </section>

  <section class="details">
    <div class="content-box">
      <h2>Location</h2>
      <p>This is some test text. This is some test text.</p>
    </div>
    <div class="content-box">
      <h2>Location</h2>
      <p>This is some test text. This is some test text.</p>
    </div>
    <div class="content-box">
      <h2>Location</h2>
      <p>This is some test text. This is some test text.</p>
    </div>
  </section>

  <section class="speakers">
    <h2>Speakers</h2>

    {% for speaker in site.data.speakers %}

      <div class="speaker">
        <img src="{{ site.baseurl }}/img/{{ speaker.image }}" />
        <h2>
          {% if speaker.site %}
            <a href="http://{{ speaker.site }}">{{ speaker.name}}
              <i class="fa fa-link"></i></a>
          {% else %}
            {{ speaker.name }}
          {% endif %}
        </h2>
        {% if speaker.topic.site %}
          Topic: <a href="http://{{ speaker.topic.site }}">
            {{ speaker.topic.name }} <i class="fa fa-link"></i>
          </a>
        {% else %}
          Topic: {{ speaker.topic.name }}
        {% endif %}
      </div>

    {% endfor %}

    <a class="button block" href="{{ site.baseurl }}/speakers/">More Speaker Details</a>
  </section>
</div>
