/**
 * Site header
 */
.site-header {
    border-top: 5px solid $pitt-blue;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;

    h3 {
      margin-bottom: 0;
    }
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/*
 * Homepage
 */
.homepage {
  section {

    &.header {
      padding: 18%;

      background-image: url('/intro-to-everything/img/bridge.gif');
      background-size: cover;

      @include media-query($on-palm) {
        padding: 5%;
      }

      h1 {
        text-align: center;
        font-size: 3em;
      }

      p {
        text-align: justify;
        font-size: 1.1em;
        font-weight: 500;
      }

      hr {
        margin: {
          bottom: 10px;
        }
      }
    } // End of header class

    &.details {
      background-color: $pitt-blue;
      color: white;
      overflow: hidden;

      padding: {
        right: 10%;
        left: 10%;
        top: 2em;
        bottom: 2em;
      }

      @include media-query($on-palm) {
        padding: 2.5%;
      }

      .content-box {
        text-align: center;
        padding: {
          left: 2.5%;
          right: 2.5%;
        }
        margin: {
          bottom: 1em;
        }
        box-sizing: border-box;
        float: left;
        width: 33.3333333333333333333333333%;

        p {
          text-align: justify;
        }

        @include media-query($on-palm) {
          width: 100%;

          p {
            text-align: center;
          }

          &:after {
            content: '';
            width: 80%;
            height: 1px;
            background: white;
            position: absolute;
            margin-left: -40%;
          }
        }
      }
    }
  } // End of section element
}


.speakers {
  $padding-size: 3.333333333333%;

  overflow: hidden;
  margin-left: -$padding-size;;

  padding: {
    right: 10%;
    left: 10%;
    top: 2em;
    bottom: 2em;
  }

  @include media-query($on-palm) {
    padding: 2.5%;
  }

  h2 {
    margin: {
      left: $padding-size;
      bottom: 5px;
    }
  }

  .speaker {
    box-sizing: border-box;
    margin-left: $padding-size;
    margin-bottom: 2em;
    float: left;
    width: 30%;

    @include media-query($on-palm) {
      width: 100%;
    }

    img {
      $size: 60px;
      float: left;
      width:  $size;
      height: $size;
      margin-right: 7px;
      border-radius: $size / 2;
    }

    h3 {
      margin-bottom: 5px;
      font-weight: 500;
    }
  }
}

.speaker-large {
  $img-size: 100px;
  $img-size-mini: 50px;
  $title-line-height: 48px;

  overflow: hidden;
  margin: {
    bottom: 2em;
  }
  clear: both;

  .wrap {
    float: left;
    width: calc(100% - #{$img-size} - #{$img-size / 10});
  }

  img {
    height: $img-size;
    width: $img-size;
    border-radius: $img-size / 2;
    float: left;
    margin-right: $img-size / 10;

    @include media-query($on-palm) {
      height: $img-size-mini;
      width: $img-size-mini;
      border-radius: $img-size-mini / 2;
      margin-right: $img-size-mini / 10;
    }
  }

  h2 {
    float: left;
    font-size: 2em;
    margin: {
      bottom: 5px;
    }
    line-height: $title-line-height;

    @include media-query($on-palm) {
      font-size: 1.6em;
      line-height: 1.6em;
      margin-bottom: 0;
      width: 100%;
      vertical-align: top;
    }
  }

  .topic {
    cursor: text;
    font-size: 1.5em;
    float: right;
    line-height: $title-line-height;

    @include media-query($on-palm) {
      float: left;
      font-size: 1.2em;
      line-height: normal;
      margin-bottom: 5px;
    }
  }

  p {
    clear: both;
  }
}
